*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    background-color: #caf0f8;
}

.popup{
    background-color: #0077b6;
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: none;
}
.popup button{
    display: block;
    margin-top: 10px;
    background-color: #e9c46a;
    border-radius: 5px;
    font-size: 25px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
#difficulty-Level-on-popup{
    margin-top: 10px;
    padding: 5px;
    font-size: 25px;
    background-color: #e76f51;
    color: whitesmoke;
}

#wrapper{
    display: none;
    /* flex-direction: column;
    justify-content: center; */
}
#helpicon-toggle{
    height: 40px;
    width: 40px;
    display: none;
    position: fixed;
    place-items: center;
    background-color: #e9c46a;
    border: none;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    outline: none;
    top: 10%;
    right: 0%;
    
}
#helpicon-toggle:hover{
    background-color: #8a660b;
}
#help-info{
    display: none;
    padding: 20px;
    width: 600px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f9844a;
    font-weight: normal;
    flex-direction: row;

    font-size: 20px;
}
ul {
    list-style-position: outside;
  }
#help-info-close-icon{
    background-color: inherit;
    align-self: flex-start;
    border: none;
    margin: 0;
    cursor: pointer;
}
#mineSweeper{
    width: 600px;
    height: auto;
    margin: 20px auto;
    background: #023e8a;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

#header{
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#timer{
    flex-grow: 1;
    background-color: #00b4d8;
    text-align: center;
    margin: 5px;
    padding: 5px;
    font-size: 25px;
}

#difficulty-Level{
    flex-grow: 1;
    height: auto; 
    text-align: center;
    margin: 5px;
    padding: 5px;
    font-size: 25px;
    background-color: #e76f51;
    color: whitesmoke;
}
#FlagsLeft{
    flex-grow: 1;
    background-color: #f07167;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    color: whitesmoke;
}

#mineSweeperBoard{
    width: 540px;
    height: 540px;
    background-color: #00b4d8;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#mineSweeperBoard div{
    border: 1px solid black;
    box-sizing: border-box;
}

#mineSweeperBoard .checked{
    background-color: #2a9d8f;
}
